/* General / boilerplate styles */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,500i,700,700i');
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { height: 100%; }
html { font-size: 6.25%; }
body { margin: 0; font-family: 'Cormorant Garamond', serif; font-size: 16em; }
h1, h2, h3, h4, h5, h6, p { margin: 0 0 0.5rem 0; }
h1 { font-size: 4em; } h2 { font-size: 3.5em; } h3 { font-size: 3em; }
h4 { font-size: 2.5em; } h5 { font-size: 2em; } h6 { font-size: 1.5em; }
p { font-size: 1em; line-height: 1.5; }
.paragraph { text-indent: 2em; text-align: justify; }
blockquote { margin: 1rem 4em 1rem 4em; text-align: justify; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
html[lang="fr"] q { quotes: "\00ab" "\00bb"; }
cite { font-style: normal; }
cite:before { content: "\0020\2014\0020"; }
figure { margin: 1em; text-align: center; }
@media (min-width: 750px) {
	.inline-left { float: left; margin: 1em 1em 1em 0; } 
	.inline-right { float: right; margin: 1em 0 1em 1em; }
}
figure img { display: inline; max-width: 100%; margin: 0.5em 0; }
.greyscale { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.sepia { -webkit-filter: grayscale(100%); filter: sepia(100%); }

/* Thematic styles */
body { font-family: 'Open Sans', sans-serif; }	
/* Header */
#header {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 900px;
	margin: auto;
}
	/* Navbar and subnavbar */
	#navbar, #subnavbar {
		display: flex;
		width: 100%;
		padding: 0;
		box-sizing: border-box;
		background: #000;
		list-style-type: none;
	}
	/* Navbar */
	#navbar {
		height: 100%;
		box-sizing: border-box;
		border-top: 2px solid #323232;
		border-left: 2px solid #323232;
		border-right: 2px solid #323232;
	}
	/* Navbar and subnavbar list item */
	#navbar li {
		flex: 1 1 auto;
		transition: .3s background-color;
	}
	/* Navbar list item */
	#navbar > li {
		position: relative;
		display: flex;
		border-bottom: 2px solid #323232;
	}
	/* Navbar and subnavbar list item, when hovered over */
	#navbar li:hover {
		background: #323232;
	}
	/* Navbar list item, active page */
	#navbar > #active {
		border-bottom: 0;
		background: #fff;
	}
	/* Navbar list item-contained link, active page */
	#navbar > #active > a {
		color: #000;
	}
	/* Class to apply border before active page */
	.active-drop { box-shadow: inset 2px 0px 0px 0px #323232, inset -2px 0px 0px 0px #323232; }
	/* Class to apply border before active page */
	.before-active { box-shadow: inset -2px 0px 0px 0px #323232; }
	/* Class to apply border after active page */
	.after-active { box-shadow: inset 2px 0px 0px 0px #323232; }
	/* Navbar and subnavbar list item-contained link */
	#navbar li > a {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: .6250em; /* 10px */
		color: #fff;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}
	/* Navbar list item-contained link */
	#navbar > li > a {	
		font-size: 1em; /* 16px */
	}
	/* Navbar list item-contained, link-contained image (logo) */
	#navbar li > a > img {
		max-width: 100px;
	}
	/* Subnavbar */
	#navbar > li > #subnavbar {
		visibility: hidden;
		position: absolute;
		left: 0;
		flex: 1 1 auto;
		flex-direction: column;
		border-left: 2px solid #323232;
		border-right: 2px solid #323232;
		border-bottom: 2px solid #323232;
	}
	/* Subnavbar, when parent is hovered over */
	#navbar > li:hover > #subnavbar {
		visibility: visible;
	}
	/* Subnavbar, when parent is active */
	#navbar > #active > #subnavbar {
		background: #fff;
	}
	/* Subnavbar list item on hover, when parent is active */
	#navbar > #active > #subnavbar > li:hover {
		background: #e5e5e5;
	}
	/* Subnavbar list item-contained link, when parent is active */
	#navbar > #active > #subnavbar > li > a {
		color: #000;
	}	
	/* Subavbar list item-contained link */
	#navbar > li > #subnavbar > li > a {	
		font-size: .875em; /* 14px */
	}
/* Content */
#content {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border-left: 2px solid #323232;
	border-right: 2px solid #323232;
	border-bottom: 2px solid #323232;
}
	/* Content container */
	div.content-container {
		margin: .6250em; /* 10px */
	}
	/* Clear */
	div.clear { clear: both; }
/* Footer */
#footer {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	width: 900px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border-left: 2px solid #323232;
	border-right: 2px solid #323232;
	border-bottom: 2px solid #323232;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 10px;
}
	/* Footer item */
	div.footer-section {
		flex: 1 1 auto;
		width: 100%;
		padding: .6250em; /* 10px */
	}
/* Media screen adjustments. On resize... */
	/* If screen width is less than or equal to 900px (e.g.: tablet, mobile) ... */
	@media only screen and (max-width: 900px) { 
		/* Scale header, content and footer width */
		#header, #content, #footer { width: 100%; }
	}
	/* If screen width is less than or equal to 600px (e.g.: mobile) ... */
	@media only screen and (max-width: 600px) { 
		/* Header */
			/* Make navbar columnar */
			#navbar { flex-direction: column; height: unset; }
			/* Remove "tab"-style on active page */
			#navbar li.active { border-bottom: 2px solid #323232; }
			/* Keep subnavbar hidden */
			#navbar > li:hover > #subnavbar { visibility: hidden; }
		/* Footer */
			/* Make footer sections display columnar */
			#footer { flex-direction: column; }
			/* Reorder footer sections */
			#footer > div.footer-section:nth-child(1) { order: 2; }
			#footer > div.footer-section:nth-child(2) { order: 3; }
			#footer > div.footer-section:nth-child(3) { order: 1; }
	}